.tool-bar{
    z-index: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    
}

#side-bar{
    padding-left: 25px;
    padding-bottom: 10px;
    z-index: 10;
    min-height: 100vh !important;
    height: 100%;
    width: 100%;
    /* position: fixed; */
}

#side-bar a{
    text-decoration: none;
    color: #dddddd;    
}

#side-bar a:hover{
    text-decoration: none;
    color: #ffffff;
    padding-left: 3px;
    transition: .5s;
}

#side-bar div{
    margin-bottom: 10px;
}

#dash-link{
    font-size: 24px;
    padding-left: 20px;
}

#sticky-sidebar{
    position: auto;
    z-index: 100;
}