
.img-link {
  width: 100%;
  min-width: 200px;
}

.img-link:hover {
  width: 101%;
  transition: 0.5s;
}

.dashboard {
  text-align: center;
  color: #666666;
  padding-top: 10%;
  padding-bottom: 10%;
}

